.fixed-margin{
    padding-top: 80px;
  }
  .grid-container {
    margin: 20px;
  }
  mat-card {
    width: 100%;
    height: calc(100% - 90px);
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
//   .example-container > * {
//     width: 100%;
//   }
  