
<div class="grid-container fixed-margin">
  <h1 class="mat-h1">New Timesheet</h1>
  <mat-card class="col-mat-6 offset-mat-3" >    
      <!-- Title of the Card -->    
      <mat-card-title>    
          Timesheet Information    
      </mat-card-title>    
      
      <mat-card-content>    
          <form>   
            <table style="width:100%">
              <tr>
                  <table style="width:100%">  
                      <tr>
                          <td>   
                              <mat-form-field class="demo-full-width">
                                  <mat-icon matSuffix>perm_identity</mat-icon>
                                    <input matInput readonly placeholder="Employee Id" value="1001">
                                    <!-- <mat-icon matSuffix>person</mat-icon> -->
                                </mat-form-field>  
                              <!-- <mat-form-field appearance="outline" class="demo-full-width">   
                                  <mat-label>Employee ID</mat-label> 
                                  <input matInput placeholder="Employee ID" value="1001">    
                              </mat-form-field> -->
                          </td>    
                          <td>    
                              <mat-form-field class="demo-full-width">    
                                  <mat-icon matSuffix>place</mat-icon>
                                  <input matInput readonly placeholder="Location" value="Los Angeles">    
                              </mat-form-field>    
                          </td>    
                      </tr>  
                        <tr>    
                            <td>    
                                <mat-form-field class="demo-full-width">  
                                    <mat-icon matSuffix>person</mat-icon>  
                                    <input matInput readonly placeholder="Employee" value="Raj Ankathi">    
                                </mat-form-field>    
                            </td>    
                            <td>    
                                <mat-form-field class="demo-full-width">   
                                    <mat-icon matSuffix>business_center</mat-icon> 
                                    <input matInput readonly placeholder="Client" value="Facebook">    
                                </mat-form-field>    
                            </td>    
                        </tr>  
                        <tr>    
                            <td>    
                                <mat-form-field class="demo-full-width">    
                                    <mat-icon matSuffix>supervisor_account</mat-icon>
                                    <input matInput readonly placeholder="Approver" value="Mark Zuckerberg">    
                                </mat-form-field>    
                            </td>    
                            <td>    
                                <mat-form-field class="demo-full-width">   
                                    <mat-icon matSuffix>date_range</mat-icon> 
                                    <input matInput readonly placeholder="Period" [value]="payPeriod">    
                                    
                                </mat-form-field>    
                            </td>    
                        </tr>   
                        
                    </table> 
              </tr>
            </table> 
                
          </form>    
      </mat-card-content>    
  </mat-card> 
  <mat-card>    
      <!-- Title of the Card -->    
      <mat-card-title>    
          Tasks & Hours 
      </mat-card-title>    
      
      <mat-card-content>    
          <form style="overflow-x:auto;">
              <table class="tasks-hours" style="width: 100%">
                <tr>
                  <!-- <th>Task Name</th> -->
                  <th *ngFor="let date of datesArray">{{date.fmt_date.weekDay}} {{date.fmt_date.date}} {{date.fmt_date.month}} </th>
                  <th>Total Hours</th>
                  <!-- <th>Actions</th> -->
                </tr>
                <tr>
                  <!-- <td>
                      <mat-form-field >
                          <textarea matInput>Create Web API Services</textarea>
                        </mat-form-field>
                  </td> -->
                  <td *ngFor="let date of datesArray">
                     <mat-form-field class="formfield" >
                      <input matInput placeholder="Hrs & Mins" type="number" min="0" max="12" [readonly]="date.is_weekend" [value]="date.is_weekend ? 0 : 8">
                      <mat-icon matSuffix (click)="openDialog()" *ngIf="!date.is_weekend" >create</mat-icon>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Hours</mat-label>
                        <input matInput placeholder="hours" [disabled]="date.is_weekend" [value]="date.is_weekend ? 0 : 8">
                      </mat-form-field> -->
                  </td>
                  <td>
                      <mat-form-field class="formfield" >
                          <input matInput placeholder="Hrs & Mins" min="0" max="50" type="number" [value]="40">
                        </mat-form-field>
                  </td>
                  <!-- <td>
                      <mat-icon color="warn" matSuffix>close</mat-icon>
                  </td> -->
                </tr>
                <tr>
                    <td [attr.colspan]="9" style="text-align: right">
                        <button mat-raised-button align="end" color="secondary" routerLink="/tsheets">Cancel</button> &nbsp;
                        <button mat-raised-button align="end" color="accent" >Create and Submit</button> 
                    </td>
                  </tr>
              </table>
          </form> 
      </mat-card-content>    
  </mat-card> 
</div>

