
<div class="grid-container fixed-margin">
  <h1 class="mat-h1">New Timesheet</h1>
  <mat-grid-list cols="1" rowHeight="2:1">
     <mat-grid-tile>
      <mat-card>
        Timesheet Information<br>
        <mat-card-content class="dashboard-card-content">
                <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="Input">
                    </mat-form-field>
                  
                    <mat-form-field>
                      <textarea matInput placeholder="Textarea"></textarea>
                    </mat-form-field>
                  
                    <mat-form-field>
                      <mat-select placeholder="Select">
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
          Tasks & Hours<br>
          <mat-card-content class="dashboard-card-content">
                  <div class="example-container">
                      <mat-form-field>
                        <input matInput placeholder="Input">
                      </mat-form-field>
                    
                      <mat-form-field>
                        <textarea matInput placeholder="Textarea"></textarea>
                      </mat-form-field>
                    
                      <mat-form-field>
                        <mat-select placeholder="Select">
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
          </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <mat-grid-list cols="1" rowHeight="2:1">
          <mat-grid-tile><mat-card> Timesheet Information</mat-card></mat-grid-tile>
          <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
  </mat-grid-list> -->
</div>